body{
	font-family: 'Arial', serif;

}
h1{
	text-align: center;
}

/*
.label{
	font-family: 'Droid Serif', serif;
	font-weight: 'bold'
}
.xlabel{
	font-family: 'Droid Serif', serif;
	font-weight: 'bold'
}
.ylabel{
	font-family: 'Droid Serif', serif;
	font-weight: 'bold'
}
.xnav{
	display:inline;
}
.rnav{
	display:inline;
}
*/
